$basic-white-color: #e4e4e4;
$basic-blue-color: #2684ff;

.Calculator {
    border: 1px solid black;
    padding: 20px;
    background: #464646;
    border-radius: 5px;
    color: $basic-white-color;

    h1 {
        color: $basic-white-color;
    }

    &__mainWrapper, &__buttonWrapper {
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }

    &__result {
        font-size: 22px;
        color: $basic-blue-color;
        font-weight: bold;
    }

    input:focus-visible {
        outline: none;
        border: 2px solid $basic-blue-color;
    }

    input, &__operations, &__result {
        margin: 0 10px;
    }

    input, &__operations {
        border-radius: 4px;
    }

    &__submitBtn {
        background: $basic-blue-color;
        color: $basic-white-color;
        &__disabled {
            background: #110952;
            color: #525252;
        }
    }

    /* animations */
    .fade {
        &-enter {
            position: absolute;
            opacity: 0;
        }
        &-enter-done {
            opacity: 1;
            transition: opacity 500ms;
        }
        &-exit {
            opacity: 1;
        }
        &-exit-active {
            opacity: 0;
            transition: opacity 500ms;
        }
    }
}


