.TransitionExample {
    .remove-btn {
        margin-right: 0.5rem;
    }
    /* animations */
    .fade {
        &-enter {
            opacity: 0;
        }
        &-enter-active {
            opacity: 1;
            transition: opacity 500ms;
        }
        &-exit {
            opacity: 1;
        }
        &-exit-active {
            opacity: 0;
            transition: opacity 500ms;
        }
    }
}






